<div id="main" role="main">
  {{ partial "sidebar.html" . }}
  <article class="page">
    <div class="page_container">
      <section class="page_content">
	{{ partial "masthead_nav.html" . }}
        <h2> About Me </h2>
        <p>
          I'm a Machine Learning and Reinforcement Learning researcher currently working on games. I have a BS in Physics and an MS in Computer Science both from Indiana University Bloomington. My PhD work was focused on reinforcement learning, and specifically in understanding how agents may perceive their world. I am experienced in applying reinforcement learning, imitation learning, and traditional machine learning to a wide array of applications, identifying problems with off-the-shelf approaches, and developing learning methods to improve agent behavior. Currently, I am interested in rethinking industrial control problems for the new world of data driven control algorithms. I deeply believe reinforcement learning has the capability to solve hard control problems not approachable by traditional control algorithms.
        </p>
        <div>
          <h2> Recently Published papers </h2>
          {{ range first 5 (sort $.Site.Data.publications.published "year" "desc")}}
          {{ partial "paper.html" . }}
          {{ end }}
        </div>
        <!-- <h2> Recent Posts </h2> -->
	<!-- {{ partial "recent_posts.html" . }} -->
      </section>
    </div>
  </article>
</div>
