<a href="{{ .Permalink }}" class="postcard-link">
  <div class="postcard">
    <h2>{{ .Title }}</h2>
    <div class="post-style">
      <!-- {{ if .Params.thumbnail }} -->
      <!-- <img src={{ $.Params.thumbnail }} class="thumbnail"> -->
      <!-- {{ else if .Params.tags}} -->
      <!-- {{ if in .Params.tags "coffee"}} -->
      <!-- <img src="{{ (printf "/img/%s" $.Site.Params.avatar_coffee) | relURL }}" class="thumbnail"> -->
      <!-- {{end}} -->
      <!-- {{ end }} -->
      {{ if .Params.summary }}
      <p>{{ printf "%s" .Params.summary | markdownify }}</p>
      {{ end }}
    </div>
  </div>
</a>
